@model List<HotelSystem.Models.Order>
@{
    ViewBag.Title = "Index";
}

<div class="page">
    <div id="customer">

        <div class="header">
            <div class="row">
                <div class="col-9">
                    <h1><i class="fas fa-user-tag"></i>Sifarişlər</h1>
                </div>
                <div class="col-3 text-right">
                    <a href="@Url.Action("create","order")" class="btn btn-success">Yeni Sifariş Yarat</a>
                </div>

            </div>
        </div>

        <div class="customer-list">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Otaq Nömrəsi</th>
                        <th>Yemək</th>
                        <th>Say</th>
                        <th>Qiymət</th>
                        <th>Tənzimləmələr</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            <div class="icon">
                                <img src="~/Public/images/image-gallery/user-role.png" alt="">
                            </div>
                        </td>
                        <td>
                            <h6>@item.Room.Number</h6>
                        </td>
                        <td>
                            <h6>@item.Menu.Name</h6>
                        </td>
                        <td>
                            <h6>@item.Count</h6>
                        </td>
                        <td>
                            <h6>@String.Format("{0:N0}", item.Count * item.Menu.Price) AZN</h6>
                        </td> 
                        <td>
                            <a href="@Url.Action("edit",new { id=item.Id})" class="btn btn-primary">Yenilə</a>
                            <a onclick="return confirm('@item.Room.Number Nömrəli otağın sifarişini silmək İstəyirsiniz?')" href="@Url.Action("delete",new { id=item.Id})" class="btn btn-danger">Sil</a>
                        </td>
                    </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>
