@{ HotelSystem.Models.User user = ViewBag.User as HotelSystem.Models.User; }

@{
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Webpixels">
    <link rel="icon" href="@Url.Action("index", "dashboard")" type="image/x-icon">
    <title>:: Hotel Reservation System :: Home</title>

    <link rel="stylesheet" href="~/Public/vendor/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/Public/vendor/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/Public/vendor/charts-c3/plugin.css" />
    <link rel="stylesheet" href="~/Public/vendor/jvectormap/jquery-jvectormap-2.0.3.css" />
    <link rel="stylesheet" href="~/Public/css/main.css" type="text/css">
    <link rel="stylesheet" href="~/Public/css/style.css" type="text/css">
</head>

<body class="theme-indigo">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img src="~/Public/images/brand/icon_black.svg" width="48" height="48" alt="ArrOw"></div>
            <p>Zəhmət olmasa gözləyin...</p>
        </div>
    </div>

    <nav class="navbar custom-navbar navbar-expand-lg py-2">
        <div class="container-fluid px-0">
            <a href="javascript:void(0);" class="menu_toggle"><i class="fa fa-align-left"></i></a>
            <a href="@Url.Action("index", "dashboard")" class="navbar-brand">
                <img src="~/Public/images/brand/icon.svg" alt="BigBucket" />
                <strong>Hotel</strong> Reservation
            </a>
            <div id="navbar_main">
                <ul class="navbar-nav mr-auto hidden-xs">
                    <li class="nav-item page-header">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i></a></li>
                            <li class="breadcrumb-item">
                                @{
                                    switch (controllerName)
                                    {
                                        case "bedtype":
                                            <span>Otaq Növü</span>
                                            break;

                                        case "room":
                                            <span>Otaqlar</span>
                                            break;

                                        case "customer":
                                            <span>Müştərilər</span>
                                            break;

                                        case "restorant":
                                            <span>Restoran</span>
                                            break;

                                        case "booking":
                                            <span>Axtarış</span>
                                            break;

                                        case "user":
                                            <span>İdarəçilər</span>
                                            break;

                                        case "group":
                                            <span>Vəzifələr</span>
                                            break;

                                        case "category":
                                            <span>Kateqoriyalar</span>
                                            break;

                                        case "menu":
                                            <span>Menyu</span>
                                            break;

                                        case "orders":
                                            <span>Sifarişlər</span>
                                            break;

                                        default:
                                            <span>Ana səhifə</span>
                                            break;
                                    }
                                }

                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main_content" id="main-content">
        <div class="left_sidebar">
            <nav class="sidebar">
                <div class="user-info">
                    <div class="image"><a href="#"><img src="~/Public/images/user.png" alt="User"></a></div>
                    <div class="detail mt-3">
                        <h4 class="mb-0">@user.FullName</h4>
                        <h6>@user.Group.Name</h6>
                    </div>
                </div>
                <ul id="main-menu" class="metismenu">
                    <li class="g_heading">Əsas</li>
                    <li class="@(controllerName=="dashboard"?"active":"")"><a href="@Url.Action("index", "dashboard")"><i class="fas fa-home"></i><span>Ana Səhifə</span></a></li>
                    <li class="g_heading">--------</li>

                    <li class="@(controllerName=="bedtype"?"active":"")">
                        <a href="javascript:void(0)" class="has-arrow">
                            <i class="fas fa-utensils"></i><span>
                                Otaq
                            </span>
                        </a>
                        <ul>
                            <li><a class="dropdown-item" href="@Url.Action("index", "bedtype")">Otaq növü</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("index", "room")">Otaqlar</a></li>
                        </ul>   
                    </li>


                    <li class="@(controllerName=="customer"?"active":"")"><a href="@Url.Action("index", "customer")"><i class="fas fa-user-tie"></i><span>Müştərilər</span></a></li>


                    <li class="@(controllerName=="order"?"active":"")">
                        <a href="javascript:void(0)" class="has-arrow">
                            <i class="fas fa-utensils"></i><span>
                                Restoran
                            </span>
                        </a>
                        <ul>
                            <li><a class="dropdown-item" href="@Url.Action("index", "category")">Kateqoriyalar</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("index", "menu")">Menyu</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("index", "order")">Sifarişlər</a></li>
                        </ul>
                    </li>
                    <li class="@(controllerName=="booking"?"active":"")"><a href="@Url.Action("index", "booking")"><i class="fas fa-book-open"></i><span>Axtarış</span></a></li>

                    <li class="g_heading">Users</li>
                    <li class="@(controllerName=="user"?"active":"")"><a href="@Url.Action("index", "user")"><i class="fas fa-user"></i><span>İdarəçilər</span></a></li>
                    <li class="@(controllerName=="group"?"active":"")"><a href="@Url.Action("index", "group")"><i class="fas fa-users-cog"></i><span>Vəzifə</span></a></li>
                    <li>
                        <a href="@Url.Action("logout", "dashboard")" class="btn btn-primary" style="color: white; font-size: 15px;">Çıxış</a>
                    </li>
                </ul>
            </nav>
        </div>

        @RenderBody();
    </div>

    <!-- Core -->
    <script src="~/Public/bundles/libscripts.bundle.js"></script>
    <script src="~/Public/bundles/vendorscripts.bundle.js"></script>

    <script src="~/Public/bundles/c3.bundle.js"></script>
    <script src="~/Public/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->

    <script src="~/Public/js/theme.js"></script>
    <script src="~/Public/js/main.js"></script>
    <script src="~/Public/js/pages/index.js"></script>
    <script src="~/Public/js/pages/todo-js.js"></script>
</body>

</html>